.header h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 140px;
}

.header h3 {
  text-align: center;
}

.submit-btn {
  display: flex;
  margin: 120px auto;
  padding: 10px 20px 10px 20px;
  border: 3px solid teal;
  border-radius: 12px;
  color: teal;
  background-color: white;
}

.submit-btn:hover {
  background-color: teal;
  color: white;
}

.test-choice-btn-div {
  text-align: center;
}

.test-choice-btn-div input {
  padding: 40px;
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
}

.btn-header {
  margin-bottom: 40px;
  font-weight: bold;
}

.zno-choice-btn {
  background-color: darkseagreen;
  border: 3px solid darkseagreen;
}

.nmt-choice-btn {
  background-color: lightsteelblue;
  border: 3px solid lightsteelblue;
}

.intro-img {
  margin-bottom: 40px;
}

.form-h {
  font-weight: bold;
}
