section {
  margin: 50px auto;
  width: 100%;
}

.switch {
  position: relative;
  margin: 20px auto;
  height: 26px;
  background: #99FFCC;
  border-radius: 20px;
  padding: 3px;
}

.switch input {
  display: none;
}

.switch label {
  position: relative;
  float: left;
  font-size: 14px;
  width: 50%;
  height: 26px;
  text-align: center;
  padding-top: 3px;
  z-index: 2;
  cursor: pointer;
}

.selection {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  background: #2fff96;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch input[type=checkbox]:checked + .selection {
  left: 50%;
}
