.header {
  display: flex;
  flex-direction: column;
}

.subjects .formOfStudying{
  display: flex;
  flex-direction: row;
}

.name .minGrades .yourGrades .budgetOrContract .avarageGrade .yourAvarageGrade{
  display: flex;
  flex-direction: column;
}

.line {
  border-bottom: 1px solid black;
}


