.button {
  display: inline-block;
  padding: 10px;
  background: beige;
  border-color: bisque;
  color: #9f6a1e;
  margin-top: 20px;
  cursor: pointer;
}
.header {
  display: inline-block;
  padding: 20px;
  background: rgb(14, 132, 178);
  color: white;
  margin-top: 100px;
  font-size: 25px;
}
