.log-in-form-div {
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
  background-color: rgb(48, 98, 167);
  padding: 60px;
  display: flex;
  margin-bottom: 100px;
  color: rgb(52, 52, 52);
}

.log-in-form > .log-in-input {
  display: block;
  margin: 12px auto;
  padding: 12px 20px 12px 20px;
  border: none;
  font-size: 16px;
}

.log-in-btn {
  border-radius: 8px;
  background-color: rgb(204, 73, 210);
  color: white;
  border: none;
  padding: 12px 48px 12px 48px;
  font-size: 16px;
  box-shadow: 2px 2px;
}

.log-in-btn:hover {
  background-color: rgb(48, 82, 145);
}

.info-span {
  display: block;
  margin-bottom: 40px;
}

.login-form-img {
  height: 400px;
  border-radius: 100px 70px 100px 70px;
}

.log-in-form-div-child {
  flex: 1;
}

.log-in-form-h {
  font-size: 36px;
  margin-bottom: 12px;
  font-weight: bold;
}

.error-input-span {
  display: block;
  font-weight: bold;
  border-radius: 12px;
  padding: 20px;
}

.info-a {
  display: block;
  margin-top: 12px;
  text-decoration: underline;
}

.log-in-input:active, .log-in-input:focus {
  box-shadow: 4px 4px 4px rgb(215, 109, 221);
}
