.about-us-text {
  font-family: 'Roboto Mono', monospace;
}

.headerText {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  margin: 50px;
  background-image: linear-gradient(to right, #6fd7ba, rgba(53, 108, 148, 0.5), #386f79);
  color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
  background-position: -100%;

  animation: headerTextAnimation 3s infinite alternate-reverse;
}

@keyframes headerTextAnimation {
  from {
    background-position: 0;
  }
  to {
    background-position: 100%;
  }
}

.defaultTeamDescription {
  display: flex;
}

.our-team {
  margin: 50px 50px;
}

.imgDefault {
  max-width: 500px;
  height: auto;
  margin: 50px 50px;
  border: solid 2px;
  border-image: linear-gradient(#109159, rgba(38, 121, 100, 0.78)) 27;
}
