body {
  font-family: "Montserrat", "Lato", "Open Sans", "Helvetica Neue", Helvetica,
    Calibri, Arial, sans-serif;
}

a {
  text-decoration: none;
}

input {
  border: 3px solid grey;
  border-radius: 8px;
  outline: none;
}

hr {
  border: 1px solid blue;
}

button {
  outline: none;
}
