.nav {
  margin-top: 12px;
  background: #32b2cc;
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: center;
}

.nav a {
  margin: 0 60px 0 60px;
  color: white;
  font-size: 20px;
}

.nav a:hover {
  font-weight: bold;
}
