.nav {
  background: rgb(45, 116, 117);
  display: flex;
  justify-content: center;
}

.nav a {
  margin: 32px 20px 32px 20px;
  color: white;
  font-size: 20px;
  padding: 12px 36px 12px 36px;
  border-radius: 16px;
}

.nav a:hover {
  background: rgba(176, 174, 174, 0.249);
}

.active { 
  background-color: #083b47af;
}
